volumes:
  data:

services:
  upsnap:
    image: ghcr.io/seriousm4x/upsnap:5 # images are also available on docker hub: seriousm4x/upsnap:5
    network_mode: host
    restart: unless-stopped
    volumes:
      - data:/app/pb_data
      
# I HIGHLY RECOMMEND LOOKING AT THE UPSNAP DOCO, THEN ADDING MY STUFF (BELOW) TO YOUR COMPOSE FILE   

  autowol:
    image: ghcr.io/trentnbauer/upsnap-autowol:latest
    restart: always
    network_mode: host # Not running as host *MAY break "localhost" for the UpSnap URL variable - you may need to set the variable to the machines IP/DNS name
    environment:
      - UPSNAP_URL=${UPSNAPURL:-http://localhost:8090} # *
      - UPSNAP_USERNAME=${USERNAME}
      - UPSNAP_PASSWORD=${PASSWORD}
      - UPSNAP_DELAY=${DELAY:-10} # Time in minutes to wait before sending WOL packets
    healthcheck:
      test: ["CMD-SHELL", "curl -f ${UPSNAP_URL:-http://localhost:8090} || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
