services:
  upsnap:
    image: ghcr.io/seriousm4x/upsnap:5 # images are also available on docker hub: seriousm4x/upsnap:5
    network_mode: host
    restart: unless-stopped
    volumes:
      - data:/app/pb_data
      
# I HIGHLY RECOMMEND LOOKING AT THE UPSNAP DOCO, THEN ADDING MY STUFF (BELOW) TO YOUR COMPOSE FILE   

  autowol:
    image: ghcr.io/trentnbauer/upsnap-autowol:latest
    restart: always
    network_mode: host # * May break "localhost" for the UpSnap URL variable
    environment:
      - UPSNAP_URL=${UPSNAPURL:-http://localhost:8090} # *
      - UPSNAP_USERNAME=${USERNAME}
      - UPSNAP_PASSWORD=${PASSWORD}
      - UPSNAP_DELAY=${DELAY:-10} # Time in minutes to wait before sending WOL packets

volumes:
  data:
